/* Write your CSS code in this file */
body {
    background-color: lightgray;
    font-family: monospace;
    text-align: center;
}
ul {
    color: black;
}
button, input {
    font-family: arial;
    
}
li {
    display: inline;
    margin-right: 50px;
}
div {
    height: 50px;
}